@font-face {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    src: local('Cursed Timer ULiL'), url('https://fonts.cdnfonts.com/s/40642/CursedTimerUlil-Aznm.woff') format('woff');
}

* {
  margin: 0;
}

body {
  background-color: #08080a;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-section {
  background-color: #10193c;
  padding: 5rem 0;
  max-width: 1200px;
  margin: 5rem auto;
  border-radius: 50px;
}

.scoreboard {
  display: flex;
  justify-content: space-around;
}

.scoreboard h3 {
  color: white;
  font-size: 42px;
  margin-bottom: 1rem;
  text-align: center;
}

.points-continer {
  background-color: #080001;
  height: 120px;
  width: 260px;
  border-radius: 15px;
  margin-bottom: 2rem;
}

.points{
  font-family: 'Cursed Timer ULiL';
  font-style: normal;
  font-weight: 400;
  color: #F94F6D;
  font-size: 80px;
  text-align: center;
  padding-top: 1.5rem;
}

.score-btns {
  display: flex;
  justify-content: center;
}

.add-btn {
  background-color: transparent;
  border: 1px solid #bbbbbb;
  color: white;
  padding: 1rem;
  margin: 0rem 0.8rem;
  border-radius: 15px;
  justify-content: center;
}

.add-btn:hover {
  background-color:#29366b;
  cursor: pointer;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newGame-btn {
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  font-size: 26px;
  border: 1px solid white;
  color: white;
  border-radius: 15px;
  background-color: transparent;

}

.newGame-btn:hover {
  background-color: #29366b;
  cursor: pointer;
}